.meme-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    padding-bottom: 1rem;
}

.form-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.form-control {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2ch;
    justify-content: center;
    flex-direction: column;
}

.file-preview {
    align-self: center;
    max-width: 100%;
}

@media (min-width: 768px) {
    .wrapper {
        justify-content: flex-start;
        gap: 4ch;
        flex-direction: row;
    }

    .file-preview {
        height: 300px;
    }
}
